<%= form_for [@organization, @organization_address], html: { id: 'address_form' }, remote: true do |f| %>
  <div class='form-group'>
    <%= f.label :city %><br />
    <%= f.text_field :city, class: 'form-control', autocomplete: 'city' %>
  </div>

  <div class='form-group'>
    <%= f.label :street %><br />
    <%= f.text_field :street, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :house_number %><br />
    <%= f.text_field :house_number, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone, class: 'form-control', placeholder: '375-xx-xxxxxxx',autocomplete: 'phone' %> 
  </div>

  <div class='actions'>
    <%= f.submit t('addresses.form.submit'), class: 'btn btn-info' %>
  </div>
<% end %>