<% if user_signed_in? %>
  <div class='row'>
    <div class='col-md-4'>
      <%= link_to (image_tag(current_user.profile.image.url,
        width: '100px', class: 'img-rounded')),
        profile_path(current_user.profile.id) %>
    </div>
    <div class='col-md-6'>
      <%= t('layouts.header.nickname')%>
      <%= link_to (current_user.profile.nickname),
        profile_path(current_user.profile.id) %><br/>
      <%= t('layouts.header.role')%>
      <%= current_user.role %><br />
      <%= link_to t('layouts.header.sign_out'),
        destroy_user_session_path, method: :delete %>
    </div>
  </div>
<% else %>
  <div class='row'>
    <div class='col-md-5'>
      <%= link_to t('layouts.header.sign_in'), new_user_session_path %><br />
      <%= link_to t('layouts.header.sign_up'), new_user_registration_path %>
    </div>
    <div class='col-md-7'>
      <%= link_to image_tag('icons/facebook', border: 0, width: '45'), user_facebook_omniauth_authorize_path %>
      <%= link_to image_tag('icons/linkedin', border: 0, width: '45'), user_linkedin_omniauth_authorize_path%>
      <%= link_to image_tag('icons/twitter', border: 0, width: '45'), user_twitter_omniauth_authorize_path %>
    </div>
  </div>
<% end %>
